<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AppLaunchpad Simple Dev</title>
    <link rel="stylesheet" href="/public/applaunchpad.css" />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1"
    />
  </head>

  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <script src="/public/applaunchpad.js"></script>
    <script src="/applaunchpad-config.js"></script>
  </body>
</html>
